@use '../../styles/partials/colors' as *;

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $beige;
  padding-top: 4rem;
  height: 48vw;

  &__container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid $grey;
    border-radius: 8px;
  }

  &__text {
      color: $grey;
  }

  &__button {
    margin-top: 1rem;
    background: $grey;
    color: white;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
}
