@use '../../styles/partials/colors' as *;


.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:5rem;
    background-color: $beige;
    border-bottom: 0.001rem solid $grey;
    &__title{
        font-size: 1.5rem;
        color: $grey;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        font-size: 0.9rem;
        padding-right: 1.5rem;
        color: $grey;
        &:hover{
            color: silver;
        }
    }
}